// @import "variables";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
// // chỉ cần ctrl + s là auto save qua bên css ố kề
// [HEADER] Phần CSS cho header
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background-color: #ffffff;
}
body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(-45deg, #b8b8b8, #b8b8b8);
  border-radius: 50px;
}
body {
  background: white;
  min-height: 100vh;
  overflow-x: hidden;
}
.navmenu {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.1em;
}
.navmenu {
  color: white;
  margin-right: 10px;
  transition: 0.4s;
}
.navmenu:hover {
  border-bottom: 1px solid #ffffff;
  color: #8d8d8d;
  transition: 0.4s;
}
.active-tab {
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 8px;
  padding: 8px;
  background-color: white;
  color: black;
  font-weight: 500;
  transition: 0.4s;
}
.active-tab:hover {
  color: #000000;
  transform: scale(1.2);
  transition: 0.4s;
}
.drop-menu-more li a {
  font-size: 20px;
  color: white;
  transition: 0.2s;
}

/* [Nút tìm kiếm] Phần css Tìm kiếm */
.searchBtn {
  align-items: center;
  background-clip: padding-box;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  transition: 0.4s;
}

.searchBtn:hover,
.searchBtn:focus {
  background-color: #fdd629;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.searchBtn:hover {
  transform: translateY(-2px);
  transition: 0.4s;
}

.searchBtn:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}
.btnCalo {
  transition: 0.4s;
  border: none;
}
.btnCalo:hover {
  transition: 0.4s;
  transform: scale(1.2);
}
// [FOOTER] Phần Css Footer
footer {
  background-color: #2b3034;
}
.abc {
  text-decoration: none;
  color: white;
  border-radius: 5px;
  transition: 0.4s;
}
.abc:hover {
  background-color: white;
  font-weight: 500;
  color: black;
  padding: 5px;
  border-radius: 5px;
  transition: 0.4s;
}
// [Đường gạch] cho footer
.bottomLi {
  border-bottom: 1px solid white;
}
// [Icon] footer css
.iconBtn {
  text-decoration: none;
  font-size: large;
  color: white;
  border-radius: 5px;
  transition: 0.4s;
}
.iconBtn:hover {
  background-color: white;
  font-weight: 500;
  color: black;
  padding: 4px;
  border-radius: 10px;
  transition: 0.4s;
}
.facebook:hover {
  color: #3b5998;
}
.instagram:hover {
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  color: rgb(255, 255, 255);
}
.twitter:hover {
  color: #00acee;
}
.logout,
.dropimg_user {
  color: #ffffff;
}
.dropimg_user:hover {
  color: #000000;
}
.logout:hover {
  color: red;
}
