@import "variables";
// chỉ cần ctrl + s là auto save qua bên css ố kề
body {
  background: #667586;
  color: white;
}

.card-course-item {
  margin-top: 16px;
}
.card-img-top {
  width: 100%;
  height: 250px;
}
.btn {
  background-color: #fdac41;
  border: none;
  font-weight: 500;
  border-radius: 5px;
}
.btn:hover {
  background: #667586;
  color: black;
  font-weight: 500;
}
.card {
  border: none;
  color: black;
  background: linear-gradient(90deg, #fdfbfb 0%, #ebedee 100%);
}
.card-title {
  font-weight: 700;
}
