<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
  <div class="container-fluid">
    <a title="Meow meow" class="navbar-brand" href="/"><img
        src="https://cdn-icons-png.flaticon.com/512/2173/2173478.png"
        style="width: 50px"
        alt="LOGO"
      /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            title="Trang chủ"
            class="nav-link navmenu a"
            aria-current="page"
            href="/"
          >Trang chủ</a>
        </li>
        <li class="nav-item">
          <a title="Tin tức" class="nav-link navmenu a" href="/news">Tin tức</a>
        </li>
        <li class="nav-item">
          <a
            title="Sản phẩm"
            class="nav-link navmenu a"
            href="/products"
          >Sản phẩm</a>
        </li>
        <li class="nav-item">
          <a title="Đặt bàn" class="nav-link navmenu a" href="#">Cửa hàng</a>
        </li>
        <li class="nav-item dropdown">
          <a
            title="Tiện ích"
            class="nav-link navmenu a dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Thông tin thêm
          </a>
          <ul
            class="dropdown-menu drop-menu-more"
            aria-labelledby="navbarDropdown"
          >
            <li><a
                title="Câu truyện thương hiệu"
                class="dropdown-item"
                href="#"
              >Câu chuyện thương hiệu</a></li>
            <li><a
                title="Tìm kiếm"
                class="dropdown-item"
                href="/search"
              >Tìm kiếm</a></li>
              {{#if session.user.access}}
            <li><hr class="dropdown-divider bg-light" /></li>
            <li><a title="Bản điều khiển" class="dropdown-item" href="#">Admin
                dashboard</a></li>
            {{/if}}
          </ul>
        </li>
      </ul>
       <button
          title="Giỏ hàng"
          type="button"
          class="btn btn-outline-light me-2 btnCalo"
        >
          <i class="fa-solid fa-cart-shopping"></i>
        </button>
      {{#if session.user}}
      <div class="dropdown text-end">
        <a
          href="#"
          class="d-block link-dark text-decoration-none"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          style="margin-right: 10px;"
        >
          <img 
            src="{{session.user.image}}"
            alt="mdo"
            width="32"
            height="32"
            class="rounded-circle"
          />
        </a>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item dropimg_user" title="Trang cá nhân" href="/profile"><i class="fa-regular fa-user"></i> Trang cá nhân</a></li>
            {{#unless session.user.access}}
            <li><a class="dropdown-item dropimg_user" href="#"><i class="fa-solid fa-truck"></i> Lịch sử mua hàng</a></li>
            {{/unless}}
            <li><hr class="dropdown-divider bg-dark" /></li>
            <li><a id="logout" class="dropdown-item logout" href="#"><i class="fa-solid fa-right-from-bracket"></i> Đăng xuất </a></li>
          </ul>
          {{else}}
      <div class="text-middle" style="margin-right: 10px; ">
        <a href="/login">
          <button
            title="Đăng nhập"
            type="button"
            class="btn btn-warning btnCalo"
            style="font-weight:450"
          >Login</button>
        </a>
      </div>
        {{/if}}
      </div>
      <form action="/search" class="d-flex">
        <input
          name="q"
          required
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button title="Tìm kiếm" class="btn searchBtn" type="submit"><i
            class="fa-solid fa-magnifying-glass"
          ></i></button>
      </form>
    </div>
  </div>
</nav>
