<nav id="nav" class="p-3 sticky-top">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
      >
        <img
          src="https://cdn-icons-png.flaticon.com/512/763/763695.png"
          style="width: 50px"
          alt="LOGO"
        />
      </a>

      <ul
        class="url-list nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li><a href="/" class="url nav-link px-2 text">Home</a></li>
        <li><a href="/news" class="url nav-link px-2 text">News</a></li>
        <li><a href="/products" class="url nav-link px-2 text">Products</a></li>
        <li><a href="#" class="url nav-link px-2 text">About</a></li>
        <li><a href="#" class="url nav-link px-2 text">Contact</a></li>
        <li><a href="#" class="url nav-link px-2 text">Tables</a></li>
        <li><a href="#" class="url nav-link px-2 text">Shops</a></li>

      </ul>

      <form
        action="/search"
        class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3"
        role="search"
      >
        <input
          type="search"
          class="form-control form-control-dark text-bg-light"
          placeholder="Search..."
          aria-label="Search"
        />
      </form>

      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2">Login</button>
        <button type="button" class="btn btn-warning">Sign-up</button>
      </div>
    </div>
  </div>
</nav>