<header id="header">
  <a href="/" class="logo">
    Coffee
    <img
      src="https://cdn-icons-png.flaticon.com/512/763/763695.png"
      style="width: 50px"
      alt="LOGO"
    />
    CAT
  </a>
  <div class="menu mt-3">
    <ul class="navigation">
      <li><a class="a" href="/">Home</a></li>
      <li><a class="a" href="/news">News</a></li>
      <li><a class="a" href="/products">Products</a></li>
      <li><a class="a" href="#">Set-Table</a></li>
      <li><a class="a" href="#">Shops</a></li>
      <li><a href="#">
          <div class="dropdown">
            <button class="dropbtn"><ion-icon
                name="person-circle-outline"
              ></ion-icon></button>
            <div class="dropdown-content">
              <a class="" href="#">Order history</a>
              <a class="" href="#">Profile</a>
              <a class="" style="border-top: 1px solid white;" href="#">Sign Out</a>
            </div>
          </div>
        </a>
      </li>
      <li><a class="a" style="font-size:18px" href="#"><ion-icon
            name="cart-outline"
          ></ion-icon></a></li>
      {{! <li><a class="a" href="#">Login </a></li> }}

    </ul>
    <div class="search">
      <span class="icon">
        <ion-icon name="search-outline" class="searchBtn"></ion-icon>
        <ion-icon name="close-outline" class="closeBtn"></ion-icon>
      </span>
    </div>
    <ion-icon name="menu-outline" class="menuBtn"></ion-icon>
  </div>
  <div class="searchBox">
    <form action="/search">
      <input name="q" type="text" placeholder="Search..." />
    </form>
  </div>

</header>