<section class="home">
  <div class="swiper bg-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="img/bg1.jpg" alt="" />
        <div class="text-content">
          <h2 class="title">Coffee <span>Lịch sử ra đời</span></h2>
          <p>
            Cà phê là một loại đồ uống được ưa chuộng trên toàn thế giới, nhưng
            không phải ai cũng biết về nguồn gốc của nó. Câu chuyện về cà phê
            bắt đầu từ khu vực miền Tây Ethiopia, nơi mà cây cà phê đầu tiên
            được phát hiện vào khoảng 1.000 năm trước đây.
          </p>
          <button class="read-btn">
            Đọc thêm
            <i class="uil uil-arrow-right"></i>
          </button>
        </div>
      </div>
      <div class="swiper-slide dark-layer">
        <img src="img/bg2.jpg" alt="" />
        <div class="text-content">
          <h2 class="title">Production <span>Quy trình sản xuất</span></h2>
          <p>
            Cà phê được làm ra qua một quá trình công phu và tinh tế, bắt đầu từ
            những hạt cà phê chín trên cây cà phê. Sau khi thu hoạch, hạt cà phê
            được tách ra khỏi quả và rửa sạch. Sau đó, các hạt cà phê được phơi
            khô trên một bề mặt phẳng trong thời gian từ vài ngày đến vài tuần,
            tùy thuộc vào điều kiện thời tiết.
          </p>
          <button class="read-btn">
            Đọc thêm
            <i class="uil uil-arrow-right"></i>
          </button>
        </div>
      </div>
      <div class="swiper-slide dark-layer">
        <img src="img/bg3.jpg" alt="" />
        <div class="text-content">
          <h2 class="title">Brand story <span>Sự ra đời</span></h2>
          <p>
            Trong một lần đi du lịch đến Nhật Bản, nhóm bạn trẻ trót yêu mến
            những chú mèo xinh đẹp của đất nước này và cảm thấy rất tiếc khi
            phải rời xa chúng. Vì vậy, họ đã nghĩ ra một ý tưởng kinh doanh độc
            đáo - kết hợp giữa cà phê và mèo để tạo nên một không gian thư giãn
            và đầy tình yêu cho những người yêu mèo.
          </p>
          <button class="read-btn">
            Đọc thêm
            <i class="uil uil-arrow-right"></i>
          </button>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="img/bg4.jpg" alt="" />
        <div class="text-content">
          <h2 class="title">Store <span>Địa chỉ cửa hàng</span></h2>
          <p>
            Chào mừng đến với các cửa hàng của chúng tôi! Chúng tôi cung cấp các
            loại cà phê ngon và bánh ngọt tuyệt vời. Các cửa hàng của chúng tôi
            có mặt ở nhiều địa điểm khác nhau để phục vụ quý khách hàng.
          </p>
          <button class="read-btn">
            Khám phá ngay
            <i class="uil uil-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-slider-thumbs">
    <div class="swiper-wrapper thumbs-container">
      <img src="img/bg1.jpg" class="swiper-slide" alt="" />
      <img src="img/bg2.jpg" class="swiper-slide" alt="" />
      <img src="img/bg3.jpg" class="swiper-slide" alt="" />
      <img src="img/bg4.jpg" class="swiper-slide" alt="" />
    </div>
  </div>
</section>