<div class="container-fluid">
  <div class="row">
    <div class="col-xl-6" style="background-color: aqua;">
      3
    </div>
    <div class="col-xl-6" style="background-color:yellow;">
      9
    </div>
  </div>
</div>

<div class="flex-shrink-0 dropdown">
  <a
    href="#"
    class="d-block link-dark text-decoration-none dropdown-toggle"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <img
      src="https://github.com/mdo.png"
      alt="mdo"
      width="32"
      height="32"
      class="rounded-circle"
    />
  </a>
  <ul class="dropdown-menu text-small shadow">
    <li><a class="dropdown-item" href="#">New project...</a></li>
    <li><a class="dropdown-item" href="#">Settings</a></li>
    <li><a class="dropdown-item" href="#">Profile</a></li>
    <li><hr class="dropdown-divider" /></li>
    <li><a class="dropdown-item" href="#">Sign out</a></li>
  </ul>
</div>