<div class="container-fluid">
  <div class="row">
    <div class="col-xl-6" style="background-color: aqua;">
      3
    </div>
    <div class="col-xl-6" style="background-color:yellow;">
      9
    </div>
  </div>
</div>

<div class="flex-shrink-0 dropdown">
  <a
    href="#"
    class="d-block link-dark text-decoration-none dropdown-toggle"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <img
      src="https://github.com/mdo.png"
      alt="mdo"
      width="32"
      height="32"
      class="rounded-circle"
    />
  </a>
  <div
    class="toast align-items-center text-bg-primary border-0"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div class="d-flex">
      <div class="toast-body">
        Hello, world! This is a toast message.
      </div>
      <button
        type="button"
        class="btn-close btn-close-white me-2 m-auto"
        data-bs-dismiss="toast"
        aria-label="Close"
      ></button>
    </div>
  </div>
</div>