<div class="mt-4">
  <form method="GET" action="">
    <div class="form-group">
      <label for="search-input">Từ khóa tìm kiếm</label>
      <input
        name="q"
        type="text"
        class="form-control"
        id="search-input"
        placeholder="Search"
      />
    </div>
    <div class="form-group">
      <label for="gioitinh-input">Chọn giới tính</label>
      <select
        name="Gioitinh"
        class="form-control"
        id="gender-input"
        style="cursor: pointer;"
      >
        <option value="None">--Chọn Giới Tính--</option>
        <option value="Nam">Nam</option>
        <option value="Nữ">Nữ</option>
        <option value="Khác">Khác</option>

      </select>
    </div>

    <button type="submit" class="btn btn-primary mt-4">Tìm Kiếm</button>
  </form>
</div>