<div class="mt-4">
  <form method="GET" action="">
    <div class="form-group">
      <label for="search-input">Từ khóa tìm kiếm</label>
      <input
        name="q"
        type="text"
        class="form-control"
        id="search-input"
        placeholder="Search"
      />
    </div>
    <div class="form-group">
      <label for="gioitinh-input">Chọn giới tính</label>
      <select
        name="Gioitinh"
        class="form-control"
        id="gender-input"
        style="cursor: pointer;"
      >
        <option value="">--Chọn Giới Tính--</option>
        <option value="Nam">Nam</option>
        <option value="Nữ">Nữ</option>
        <option value="Khác">Khác</option>

      </select>
    </div>

    <button type="submit" class="btn btn-primary mt-4">Tìm Kiếm</button>
  </form>
</div>

<div class="alert alert-success mt-4" role="alert">
  <h4 class="alert-heading">
    {{#if searchTerm}}
      Kết quả tìm kiếm "{{searchTerm}}"
    {{/if}}
    {{#if gioitinh}}
      "Giới tính"{{gioitinh}}
    {{/if}}
  </h4>
  <p>Aww yeah, you successfully read this important alert message. This example
    text is going to run a bit longer so that you can see how spacing within an
    alert works with this kind of content.</p>
  <hr />
  <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep
    things nice and tidy.</p>
</div>